@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url(./dark-mode/dm-main.css);
@import url(./light-mode/lm-main.css);
@import url(typography.css);
@import url(./sections/nav.css);
@import url(./sections/page.css);
@import url(./sections/calc.css);

@font-face {
  font-family: calcFont;
  src: url(/fonts/Digital7Mono-Yz9J4.ttf);
}

:root {
  font-size: 18px;
  /* size */
  --size-xxs: 0.25rem;
  --size-xs: 0.5rem;
  --size-s: 0.75rem;
  --size-m: 1rem;
  --size-l: 1.25rem;
  --size-xl: 1.5rem;
  --size-xxl: 2.5rem;
  --size-3xl: 3.75rem;
  --size-4xl: 6.25rem;
  --size-5xl: 10rem;
  --size-6xl: 15rem;
  /* color */
  --col-darkest: black;
  --col-dark: #0a2743;
  --col-dark-mid: #35526e;
  --col-light-mid: #c6daeb;
  --col-light: #ebf0f5;
  --col-lightest: white;
  --col-action: #10eeac;
  --col-component: #2272be;
  /* typography */
  --weight-light: 200;
  --weight-normal: 325;
  --weight-bold: 500;
}

* {
  padding: 0;
  margin: 0;
  font-optical-sizing: auto;
  text-decoration: none;
}

html {
  font-family: "Source Sans 3", sans-serif;
  font-weight: var(--weight-normal);
}

#bg-image {
  position: fixed;
  top: -5vh;
  left: -5vw;
  width: 110vw;
  height: 110vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(var(--size-l));
  z-index: -2;
}

.action {
  background-color: var(--col-action);
  color: var(--col-darkest);
}

.component {
  background-color: var(--col-component);
  color: var(--col-lightest);
  font-size: min(var(--size-xl));
}

.active {
  cursor: pointer;
  border-radius: var(--size-xs);
}

a {
  font-weight: var(--weight-bold);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

h1 {
  font-size: var(--size-3xl);
  margin-bottom: var(--size-xl);
}

p {
  margin-bottom: var(--size-m);
}

hr {
  margin: var(--size-3xl) 0;
  border-style: solid;
}
