.dark {
  background-color: var(--col-darkest);
  color: var(--col-lightest);
}

.dark.raised {
  background-color: var(--col-dark);
}

.dark.txt.dimmed {
  color: var(--col-light-mid);
}

.dark.txt.greyed {
  color: var(--col-dark-mid);
}

#bg-image > .dark {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
}

.dark.active:hover {
  color: var(--col-darkest);
  background-color: var(--col-light-mid);
}

.dark a {
  color: var(--col-action);
}
