header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--size-s) calc(50% - 500px);
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: var(--size-xl);
}

#logo {
  height: var(--size-xl);
  align-self: center;
  padding: var(--size-xs);
}

header #logo svg {
  height: var(--size-xl);
  width: var(--size-xl);
  align-self: center;
}

header.light #logo path {
  fill: var(--col-dark-mid);
}

header.dark #logo path {
  fill: var(--col-light-mid);
}

#mode-toggle {
  height: var(--size-xl);
  align-self: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: var(--size-xl);
}

.txt.active {
  padding: var(--size-xs);
}
